/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color:black;
}

h1{
  font-size:100px;
  font-family: 'Lato', sans-serif;
  font-style:italic;
  color:white;
  padding-left:150px;
  padding-top:100px;
}

.titlecontainer{
  padding-left:150px;
  padding-top:100px;
}

.title{
  color:white;
  font-family: 'Fira Sans', sans-serif;
  text-decoration:none;
  line-height:30px;
  font-size:19px;

}

a:hover{
  color:orange;
}
  